<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="None" value ="0"/>
		<add key ="Odd" value ="1"/>
		<add key ="Even" value ="2"/>
		
		<add key ="1" value ="1"/>
		<add key ="2" value ="2"/>
		<add key ="1.5" value ="3"/>
		
		
	</appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>